@model IEnumerable<Lernilo.Web.Data.Entities.Tutorial>
@{
    ViewData["Title"] = "All Tutorials";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />
<body style="background-color:darkseagreen">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:limegreen">
                    <h3 class="panel-title"><b>All Tutorials</b></h3>
                </div>
                <div class="panel-body" style="background-color:lightgreen">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    Tutorials
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderByDescending(t => t.DateLocal))
                            {
                                <tr>
                                    <td>
                                        <b>
                                            <div class="col-md-3">
                                                @if (!string.IsNullOrEmpty(item.PicturePath))
                                                {
                                                    <img src="@Url.Content(item.PicturePath)" alt="Image" style="width:175px;height:100px;max-width: 100%;" />
                                                }
                                            </div>
                                            <div class="col-md-4">
                                                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a><br />
                                                @Html.DisplayFor(modelItem => item.DateLocal)<br />
                                                @Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(modelItem => item.Category.Name)
                                            </div>
                                        </b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Tutorials/Delete/' + item_to_delete;
            });
        });
    </script>
}


